<div data-testid="title">{{title}}</div>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" data-testid="form">
  <div>
    <input type="text" formControlName="userName" data-testid="userName">
    <span *ngIf="getFormGroup().userName.hasError('required')">
      {{"User Name is Required"}}
    </span>
    <span *ngIf="getFormGroup().userName.hasError('minlength')">
      {{"User Name should be length of 4"}}
    </span>
  </div>

  <div>
    <select formControlName="gender" data-testid="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>

  <button data-testid="submitButton" type="submit" [disabled]="formGroup.status === 'INVALID'">Submit</button>
</form>
